<ion-view view-title="QwikShoppr">
  <ion-content>

    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="item in storedItems" ng-class="{selected: selectedItem}">
        <label class="checkbox">
          <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="selectedItem">
        <!--  ng-model="item.checked" -->
        </label>

        <span class="product">{{item}}</span>

        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteItem(item)"></ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


<ion-footer-bar align-title="center">
  <input type="text" name="q" id="transcript" placeholder="List Groceries, separated by 'Next'" />
  <button type="button" id="transcriptButton" ng-click="getGroceries()">Enter</button>
  <!-- <button type="button" id="transcriptButton" ng-click="toggle()">Record</button> -->
  <!-- ng-click="search();match()" -->
</ion-footer-bar>
