<ion-view view-title="QwikShoppr">
  <ion-content>

    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="item in storedItems" ng-class="{selected: selectedItem}">

        <label class="checkbox">
          <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="selectedItem">
        <!--  ng-model="item.checked" -->
        </label>

        <span class="product">{{item}}</span>

        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteItem(item)"></ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<ion-footer-bar align-title="center">

          <input type="text" name="q" id="transcript" placeholder="Speak" />
          <button type="button" ng-click="startDictation()">Go</button>

<!--       <input type="text" name="groceries" id="groceries">
      <button type="button" ng-click="getGroceries()">Go</button> -->

    </ion-footer-bar>
