/* Empty. Add your own CSS if you like */
.title.title-center {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0 1px 2px #336600;
}

.bar-balanced.bar-header,
ion-footer-bar.bar-footer,
.tab-nav.tabs {
  background: #4d9900; /* Old browsers */
background: -moz-linear-gradient(top, #4d9900 0%, #336600 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4d9900 0%,#336600 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4d9900 0%,#336600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d9900', endColorstr='#336600',GradientType=0 ); /* IE6-9 */
}

.tab-nav.tabs {
  padding: 5px 0;
  height: 59px;
}

.tab-nav.tabs a.tab-item {
  color: #fff;
  text-shadow: 0 1px 2px #336600;
}

.bar.bar-balanced,
.tabs {
  border-color: #336600;
}

ion-view.pane {
  /*background-color: #e6ffcc;*/
  background-color: #2d4f20;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #336600;
  border-color: #336600;
}

.item-complex div.item-content {
  padding: 8px 49px 8px 16px;
}

.selected {
  opacity: 0.5;
}

.product {
  vertical-align: top;
  display: inline-block;
  margin: 12px 0 12px 10px;
}

#transcript {
/*  display: none;*/
  border-radius: 4px;
  height: 100%;
  padding-left: 10px;
  width: 75%;
}

ion-footer-bar.bar {
  padding: 7px 10px;
}

ion-footer-bar input[type="text"] {
  height: 28px;
  width: 100%;
  margin-right: 10px;
}

.bar-footer {
  height: 50px;
}

.bar button {
  /*width: 30%;*/
  border: 1px solid rgba(64,64,64,0.8);
  border-radius: 6px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 0 2px 4px #2d4f20;
  box-shadow: 0 0 3px #2d4f20;
  background: #528e3e; /* Old browsers */
  background: -moz-linear-gradient(top, #528e3e 0%, #4b8439 46%, #315424 54%, #2d4f20 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #528e3e 0%,#4b8439 46%,#315424 54%,#2d4f20 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #528e3e 0%,#4b8439 46%,#315424 54%,#2d4f20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528e3e', endColorstr='#2d4f20',GradientType=0 ); /* IE6-9 */
}

.bar button.recording {
  text-shadow: 0 2px 4px #4f2020;
  box-shadow: 0 0 3px #4f2020;
  background: #8e3e3e; /* Old browsers */
  background: -moz-linear-gradient(top, #8e3e3e 0%, #843939 46%, #542424 54%, #4f2020 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e3e3e 0%,#843939 46%,#542424 54%,#4f2020 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e3e3e 0%,#843939 46%,#542424 54%,#4f2020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e3e3e', endColorstr='#4f2020',GradientType=0 ); /* IE6-9 */
}



